__pycache__
.idea
*.pyc
*.orig
*.iml
*.cmd
*.db
*.sqlite
*.sqlite3
.Spotlight-V100
.Trashes
vscode

cache
/media
/static
/logs/*
/conf/*

env
venv

locale
dump
dumps
/docs/api/_build
/docs/api/build
/docs/sync/_build
/docs/sync/build

*/management/data

node_modules
frontend/build/*
package-lock.json
yarn.lock
webpack-stats.json

ehthumbs.db
Thumbs.db

.DS_Store
*.sublime-project
*.sublime-workspace

local_settings.py
