{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Блог</title>
    <link rel="icon" href="static/img/Log.png" type="images/png">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">Сибирский гостинец</div>

                <nav class="nav">
                    <a class="nav_link" href="about-us">О компании</a>
                    <a class="nav_link" href="product">Продукция</a>
                    <a class="nav_link" href="blog">Блог</a>
                    <a class="nav_link" href="contacts">Контакты</a>
                    <a class="nav_link" href="#"><img src="static/img/sign-in.png" title="Профиль"></a>
                </nav>
        </div>
    </div>
</header>
      <div class="container">
        <h3 class="logo_head"></h3>
      </div>
</body>
</html>